@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* azul: #3F10FA
   roxa: #5541A5
   roxo-claro: #4F2FCF
   roxo-escuro: #3E3A50 */

* {
    margin: 0px;
    padding: 0px;

}

:root {
    --fonte1: "Black Ops One", 'sans-serife';
}


 h1 {
    padding-top: 200px;
    text-align: center;
    text-shadow: 4px 2px 2px  #3E3A50;
    font-size: 100px;
    font-family: var(--fonte1);
    color: #00a6ac;
    
    
}



body {
    background-color:  #c0c0c0;
}

section#cabecario {
    background-color: #3E3A50;
    color: black;
}

section.normal {
    background-color: #c0c0c0;
    color: black;
}

section#img {

    display: inline-block;
    padding: 5px;
    background-color:  #c0c0c0;
}

section.imagem {
    background-color: rgb(56, 56, 56);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.438);
    background-size: cover;
    background-attachment: fixed;
    
}

section#img01 {
  background-image: url(../paginas-do-site/imagens/crianças-indigenas-transformed.jpeg);
  background-position: center;
  height: 700px;
  width: 1348px;
  

}
section#galeriafull {
    padding-top: 120px;
    padding-bottom: 120px;
}

img#galeria01 {
    
    height: 260px;
    width: 300px;
    padding-left: 90px;
}

img#galeria02 {
    height: 260px;
    width: 300px;
    padding-left: 90px;
}

img#galeria03 {
    height: 260px;
    width: 300px;
    padding-left: 90px;
}

img#galeria04 {
    height: 260px;
    width: 300px;
    padding-left: 90px;
}

a#foto1 :hover {
    color: rgb(255, 90, 48);
    padding-left: 90px;
    opacity: 0.5;
    transition: 2s linear;
    transition-duration: 2.1s;
    transform: scale(1.1);
}


a#foto2 :hover {
    color: rgb(255, 90, 48);
    padding-left: none;
    opacity: 0.5;
    transition: 2s linear;
    transition-duration: 2.1s;
    transform: scale(1.1);

    
}

a#foto3 :hover {
    color: rgb(255, 90, 48);
    padding-left: none;
    opacity: 0.5;
    transition: 2s linear;
    transition-duration: 2.1s;
    transform: scale(1.1);
}

a#foto4 :hover {
    color: rgb(255, 90, 48);
    padding-left: none;
    opacity: 0.5;
    transition: 2s linear;
    transition-duration: 2.1s;
    transform: scale(1.1);
}


img#galeria02 {
    height: 260px;
    width: 300px;
    padding-left: 5px;
}

img#galeria03 {
    height: 260px;
    width: 300px;
    padding-left: 5px;
}

img#galeria04 {
    height: 260px;
    width: 300px;
    padding-left: 5px;
}

.menu {
list-style: none;
border: 3px solid #c0c0c0;
float: left;
}

.menu li {
    margin-left: 15px;
    font-family: var(--fonte1);
    position: relative;
    float: left;
    border-right:5px solid #c0c0c0;
    
}

.menu li a{
     color:#fffefe;
     text-decoration:none; 
     padding:10px 30px; 
     display:block; 
     border-radius: 4px; 
     text-shadow: 2px 3px 4px red;
     font-size: 20px;
    }


.menu li a:hover {
background: #00fdc6c0;
color:#fa0202;
-moz-box-shadow: 0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
transition: 1s;
}


